@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-nBlue: #1547A1;
    --color-nOrange: #FF6B00;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-surface: var(--surface);
}

:root {
    --background: #f8fafc;
    --foreground: #020617;
    --primary: #1547A1;
    --accent: #FF6B00;
    --surface: #ffffff;
}

.dark {
    --background: #040b16; /* Deep dark blue */
    --foreground: #f8fafc;
    --primary: #1d4ed8;
    --accent: #f97316;
    --surface: #0a192f;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}